.right-click-menu {
  box-sizing: border-box;
  background-color: #dee2e6;
  z-index: 999;
  display: none;
  position: fixed;
  list-style: none;
  font-size: 14px;
  padding: 0;
  margin: 0;
}

.display {
  display: block;
}
